

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


body{
    min-height: 100vh;
    
    justify-content: center;
    background: #E4E9F7;
}




table{
    position: absolute;
    left: 1%;
   margin-top: 10px;
    border-collapse:collapse ;
    width: 800px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2) , -1px 1px 8px;
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

th{
    background-color: #0077B6;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header{
    background-color: #0077B6;
}

form h1{
    border-radius: 20px;
    margin-top: 1%;
    font-weight: 600;
    text-align: center;
    background-color: #0077B6;
    color: #fff;
    padding: 10px 0px;
}

tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2) ,-1px -1px 8px rgba (0,0,0,0.2);
}


@media only screen and (max-width:700px){
    table{
        width: 90%;
    }
}

form a {
    text-decoration: none;
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  form a:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
  }
